* {
  box-sizing: border-box;
}

:root {
  --main-header-color: #f0f0f0;
}
body {
  background-color: white;
  font-family: Arial, sans-serif;
}
header {
  /* background-color: var(--main-header-color); */
  height: 66px;
  padding: 0px 20px;
  position: relative;
}
@media only screen and (max-width: 375px) {
  header {
    background-color: blue;
  }

  /* body {
    background-color: black;
    color: white;
  } */
}

/* Dark mode  */

#checkbox:checked + .container {
  background: rgb(19, 18, 18);
  color: white;
}

.container {
  height: 100vh;
}
#checkbox {
  position: absolute;
  right: 0;
  z-index: 1;
}
.headerTitle {
  font-size: 24px;
  position: absolute;
  bottom: 18px;
}

.headerLogo {
  position: absolute;
  bottom: 17px;
  right: 16px;
}
body .contentPosition h2 {
  font-size: 12px;
}
.contentPosition h1,
.contentPosition h2 {
  font-weight: bold;
  padding-bottom: 15px;
  font-size: 15px;
}

.contentPosition {
  font-size: 16px;
  position: relative;
  padding: 6% 15%;
}
.footerPosition {
  text-align: left;
  position: relative;
  left: 10px;
  bottom: -5px;
}

.footerGithubText {
  position: absolute;
  top: 5px;
  right: 17px;
}

.contentPosition p {
  padding-bottom: 15px;
}

.navbar {
  background-color: #d3d3d3;
  height: 27px;
  padding-top: 4px;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
}

.navbar li {
  font-size: 17px;
  display: inline;
  padding-right: 20px;
}
.navbar a,
.footerGithubText a {
  color: black;
  text-decoration: none;
}

.navbar a:hover,
.footerGithubText a:hover {
  color: pink;
  text-decoration: underline;
}
footer {
  background-color: #d3d3d3;
  height: 27px;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-left: 10px;
}
